.displayeados {
    display: flex;
}

.navBar {
    background-color: aqua;
    display: flex;
}

.navBar div {
    width: 100%;
    text-align: center;
}

h2 {
    width: 50%;
}

input {
    width: 50%;
    text-align: center;
}